{% extends "template.html" %} {% block body %}

<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename = 'js/country.js')}}"></script>
</head>
<!-- <h2>Home Page</h2>
<p>This is the home page!</p>


<form action="/account" method="POST">
    <input type="text" name="name" id="name" placeholder="Your Name" class="form-feild"><br>
    <button type="submit" class="add-btn">See Account Page</button>
</form>
<br> -->
<!-- 
<p>Note how this page can be accesed on both '/' and '/home'. Look into app.py for more information</p> -->
<br><br><br><br><br><br><br>

<div class="row">
    <div class="col-md-6 sec1div1" id="sec1">
        <div class="sec1i">
             <div >
            <p class="lineUp" style="margin-top: -100px;">Easiest way to find job</p>
            <h1 class="lineUp" style="font-size: 50px; margin-top:10px;">Find a Job................  <br>Get your Dream True.</h1><br><br><br><br><Br><BR><BR>
            </div>
            <div>
                <input type="text" class="icon-rtl" name="searchjob" placeholder="Search the job">
                <input id="myInput" type="text" name="country" placeholder="Country">
                <button class="button" id="button">Search Now</button>
            </div>
            
        </div>
    </div>

    <div class="col-md-6 sec1div2">
        <Br><br><br>
        <img id="head-img1"  src="{{url_for('static',filename = 'images/home.png')}}" >
    </div>
</div>
<br><br><br>


<!-- <center>
    <h3>Search by</h3>
</center>
<div class="row">
    <div class="col-md-2">
        
    </div>
</div> -->


<div class="row r3">
    <div class="col-md-6 img1">
        <img id="head-img2" src="{{url_for('static',filename = 'images/business.jpg')}}" >     
    </div>
    <div class="col-md-6 r3col2">
        
    </div>
</div>
<div class="row subr3" bgcolor="white">
            <div class="col-md-2 imgcol2">
            </div>
            <div class="col-md-2 imgcol2">
            </div>
            <div class="col-md-2 imgcol2">
            </div>
        </div>





                              <!------------------------SECTION 2---------------------------------------------->
<div class="bacr2">
<center>
    <h5 class="tp">Browse by Top Categories</h5><hr width="100px">
</center>

<div class="row r2">
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-server" aria-hidden="true"></i>
           <h6>Design</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-compass" aria-hidden="true"></i>
           <h6>Architect</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
           <h6>Education</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
           <h6>Health</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-rss" aria-hidden="true"></i>
           <h6>Networking</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1" >
        <center>
        <div class="r2col1i">
            <i class="fa fa-cogs" aria-hidden="true"></i>
           <h6>Development</h6>
        </div>
        <center>
    </div>
</div><br><br><br>

<center>
    <button class="button" id="button">Find More</button>
</center>
<br>
</div><br><br><br><br>
<!----------------------------------------------------------------------------------------------------------->
<center>
        <h4>Recent Jobs</h4><br><br>
    </center>
<div class="recjobs">
    <div class="setcard">
        <div class="jobcard">
            <div class="set-1">
             <img id="head-img" src="{{url_for('static',filename = 'images/Amazon.png')}}" style="display: inline-block; height: 50px; width: 50px;" > 
             <p>Amazon</p>
           </div><br>
           <p>London, UK</p><hr>
           <h5>UI/UX Designer</h5>
           <h6>$30k - $50k</h6>
           <div class="skillneed">
               <p>Adobe XD</p>
               <p>Figma</p>
           </div><br>
           <button>Apply</button>
        </div>
    </div>

    <div class="setcard">
        <div class="jobcard">
            <div class="set-1">
             <img id="head-img" src="{{url_for('static',filename = 'images/what.png')}}" style="display: inline-block; height: 50px; width: 50px;" > 
             <p>Whatsapp</p>
           </div><br>
           <p>Washington, America</p><hr>
           <h5>Program Analyst</h5>
           <h6>$43k - $75k</h6>
           <div class="skillneed">
               <p>C</p>
               <p>Java</p>
           </div><br>
           <button>Apply</button>
        </div>
    </div>

    <div class="setcard">
        <div class="jobcard">
            <div class="set-1">
             <img id="head-img" src="{{url_for('static',filename = 'images/Amazon.png')}}" style="display: inline-block; height: 50px; width: 50px;" > 
             <p>Amazon</p>
           </div><br>
           <p>London, UK</p><hr>
           <h5>UI/UX Designer</h5>
           <h6>$30k - $50k</h6>
           <div class="skillneed">
               <p>Adobe XD</p>
               <p>Figma</p>
           </div><br>
           <button>Apply</button>
        </div>
    </div>

    <div class="setcard">
        <div class="jobcard">
            <div class="set-1">
             <img id="head-img" src="{{url_for('static',filename = 'images/Amazon.png')}}" style="display: inline-block; height: 50px; width: 50px;" > 
             <p>Amazon</p>
           </div><br>
           <p>London, UK</p><hr>
           <h5>UI/UX Designer</h5>
           <h6>$30k - $50k</h6>
           <div class="skillneed">
               <p>Adobe XD</p>
               <p>Figma</p>
           </div><br>
           <button>Apply</button>
        </div>
    </div>

</div><br><br>
<button id="explore">Explore All</button><br>
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="r5">
    <center>
        <h3>How to Apply?</h3><br><br>
    </center>
    <div class="row r51">
        <div class="col-md-2 r5col1i" data-scrollreveal="enter bottom over 1.7s after 0.3s">
            <center>
            <i class="fa fa-search" aria-hidden="true"></i><br><br>
            <h6><strong>Search for Job</strong></h6>
            </center>
            <p>You have to search for the job that satisfies your all needs and make you to work in the comfortable zone.</p>
            
        </div>
        <div class="col-md-2 r5col1i">
            <center>
            <i class="fa fa-check-square-o" aria-hidden="true"></i><br><br>
            <h6><strong>Apply</strong></h6>
            <p>You have to search for the job that satisfies your all needs and make you to work in the comfortable zone.</p>
            </center>
        </div>
        <div class="col-md-2 r5col1i">
            <center>
            <i class="fa fa-handshake-o" aria-hidden="true"></i><br><br>
            <h6><strong>Get Selected</strong></h6>
            <p>You have to search for the job that satisfies your all needs and make you to work in the comfortable zone.</p>
            </center>
        </div>
    </div>
</div><br><br>
<div class="semihow" id="semihow">

    <br>
</div><br>

                        <!------------------------NEXT---------------------------------------------->



<div class="row r3">
    <div class="col-md-6 img1">
        <img id="head-img" src="{{url_for('static',filename = 'images/business.jpg')}}" >     
    </div>
    <div class="col-md-6 r3col2">
        <h3 class="lineUp">We help recruiters to find Talents</h3>
        <p class="lineUp">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p><br>
        <center><h5><i>Our Top Recuiters</i></h5></center><br><br>
    </div>
</div>
<div class="row subr3" bgcolor="white">
            <div class="col-md-2 imgcol2">
                <img id="head-img" src="{{url_for('static',filename = 'images/Amazon.png')}}" > <br>
            </div>
            <div class="col-md-2 imgcol2">
                <img id="head-img" src="{{url_for('static',filename = 'images/Bookmyshow.png')}}" >  <br>
            </div>
            <div class="col-md-2 imgcol2">
                <img id="head-img" src="{{url_for('static',filename = 'images/Flipkart.png')}}" >  <br>
            </div>
        </div>


<!------------------------SECTION 5---------------------------------------------->
<div class="tstr1">
    <center>
        <h3>Testimonials</h3><br><br>
    </center>
    <div class="cardtst">
        <span>
        <img src="{{url_for('static',filename = 'images/business.jpg')}}" style="border-radius: 100%; height:50px; width: 50px;">
        <h6>Laura, Hexaware Technologies</h6>
        </span><br><br>
        <blockquote>Jobby uplift my life to the next level, It keeps me alert on<br>
                    every job updates based upon my skillset.And also it recommends<br>
                    the skillset based upon my interest area.</blockquote>
    </div>
   
</div>

<!-------------------------------------SECTION - 6------------->

{% endblock %}