<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/login.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="shortcut icon" href="../static/images/j.png" type="image/x-icon">
    <title>Jobby - Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://www.google.com/jsapi"></script>
  <title></title>
</head>
<body>
  
  <div class="row log2r1">
    <div class=" col-md-6 log2set1">
      <div id="semicir"></div>
      <div id="semicir2"></div>
      <img src="{{url_for('static',filename = 'images/loinpg.png')}}">
    </div>

    <div class="col-md-6 locol1">
      <form>
        <select id="login-select" required style="padding-bottom: 20px; text-decoration: underline;">
          <option value="none" selected="selected">
            Login As Choose
          </option>
          <option value="Job Seeker" id="jobseeker" >
            Job Seeker
          </option>
          <option value="Organization">
            Organization
          </option>
        </select><br>

        <label>Username</label><br>
        <input type="email" name="email" id="email" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" id="password" required><br><br>

        <input type="submit" name="submit" value="submit" id="login-btn">
    </form>
    <br>

    <p>Forget Password?<i><a href="#" style="text-decoration: none;"> Click Here</a></i></p><hr>
    <br>
    <h5>Don't have account already?&nbsp;&nbsp;<a class="trigger_popup_fricc" style="text-decoration: none;"><i>Sign Up</i></a>  </h5>
  <div class="hover_bkgr_fricc">
  <span class="helper"></span>
  <div>
    <div class="popupCloseButton">&times;</div>
    <p>Register As</p>
    <div class="row signsec1">
        <div class="col-md-4 card">
            <img src="{{url_for('static',filename = 'images/seeker.svg')}}"><br><br>
            <button class="button" id="buttonpop"><a href="register" >Job Seeker</a></button>
            
        </div>
        <div class="col-md-4 card">
            <img src="{{url_for('static',filename = 'images/organi.svg')}}"><br><br>
            <button class="button" id="buttonpop"><a href="orgregister">Organization</a></button>
           
        </div>   
    </div>
  </div>
  </div>
  </div>
  </div>



</body>
</html>






<script>
  $(window).load(function () {
    $('.trigger_popup_fricc').click(function(){
       $('.hover_bkgr_fricc').show();
    });
    $('.hover_bkgr_fricc').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
});
</script>