<html>
<head>
    <link rel="stylesheet" href="../static/style/template.css">
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <title>Jobby</title>
    <link rel="shortcut icon" href="../static/images/j.png" type="image/x-icon">
</head>

<body>

    <div>
        <nav>
            <img src="{{url_for('static',filename = 'images/logo.jpg')}}">
            <ul name="menu" id="menu">
                <li><a href="#">Home</li>
                <li><a href="#">Browse Job</li>
                <li><a href="#">News Feeds</li>
                <li><a href="#">About</li>
            </ul>
            <ul name="action" id="action">
                <li id="btn"><a href="#">Post Job</a></li>
                <li><a href="login" style="font-size: 26px;"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            </ul>
            {% block body %}{% endblock %}
        </nav>
    </div>
    <footer>
        <center>
            Copyright @ Jobby 2022
        </center>
    </footer>
</body>
</html>
