    #head-img1{
    height:500px;
    width:600px;
    }
    #head-img2{
        height:500px;
    width:600px;
    }
    .sec1div2 img{
        height: 650px;
        width: 690px;
        margin-top: -110px;
    }
    .sec1i p{
        font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: grey;
        
    }
    .r2{
        margin-top: 30px;
        margin-left: 140px;
    }
    .r2 #r2col1{
        margin-right:-40px;
    }
    .r2col1i{
        border-radius: 6px;
        padding-top:25px;
        width: 150px;
        height: 80px;
        padding-bottom: 10px;
        background-color: white;     
        margin-left: 3px; 

    }
    .r2col1i:hover{

        box-shadow: 2px 5px 5px rgb(116, 117, 117);  
        cursor: pointer;
    }
    .r2col1i {
        color: #018191;
    }
    .bacr2{
        background-color:whitesmoke;
        margin: 20px;
        border-radius: 8px;
    }
    .tp{
        margin-top: 300px;
        padding-top: 20px;
    }
    .r3 .img1 img{
        height:550px;
        width: 580px;
        opacity: 0.5;
        margin-left: -15px;
        margin-bottom: 300px;
    }
    .r3 .r3col2{
        margin-top: 150px;
        margin-left: -100px;
    }
    .subr3{
        margin-left: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .subr3 .imgcol2 img{
        height: 60px;
        width: 250px;
        margin-left: 460px;
        padding-left: 45px;
    }
    
    .r5col1i{
        border-radius: 6px;
        padding-top:25px;
        width: 300px;
        height: auto;
        margin-left: 10px;
        background-color: white;
        box-shadow: 1px 2px 3px rgb(116, 117, 117); 
        margin-left: 80px; 
        margin-bottom:35px;

    }
    .r5{
        margin-top:200px;
        padding-top: 20px;
        margin-left: 50px;
        border-radius: 30px;
        margin-right: 10px;
        margin-bottom: 30px; 
    }
    .r51{
        margin-left: 260px;
    }
    .r5col1i center p,h6{
        word-wrap: 30px;
        text-align: center;
    }
    .r5col1i:hover{
        border-radius: 6px;
        padding-top:25px;
        width: 700px;
        margin-left: 10px;
        background-color: white;
        box-shadow: 2px 2px 5px rgb(116, 117, 117); 
        margin-left: 80px; 
        margin-bottom:35px;
        cursor: pointer;

    }
    .tstr1{
        margin-top: 250px;
    }
    .cardtst{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-right: 400px;
        margin-left: 420px;
        border-radius: 15px;
        border-left-style:  solid ;
        border-left-color: blue;
        background-color: whitesmoke;
        box-shadow: 1px 3px 8px rgb(116, 117, 117); ;
        margin-bottom: 30px;
    }
    #semihow{
        position: absolute;
        background-color: #04aec4;
        margin-top: -500px;
        margin-left: 1200px;
        height: 450px;
        width: 500px;
        border-radius: 100%;
    }
    
    .secdiv2{
        padding-top:-300px;
        padding-bottom: 30px;
        background-color: whitesmoke;
        box-shadow: 1px 3px 8px rgb(116, 117, 117); ;
    }
    .recjobs{
        display: flex;
        flex-direction: row;
    }
    .setcard{
        margin-left: 80px;
        width: 430px;
        padding-bottom: 20px;
        height: auto;
        border-top-style:solid;
        border-top-color: #04aec4;
        border-top-width: 5px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 0px 4px rgb(116, 117, 117); 
        margin-right: 50px;
    }
    .setcard:hover{
        box-shadow: 0px 0px 7px rgb(116, 117, 117); 
    }
    .jobcard .set-1 p{
        position: absolute;
        font-weight: 600;
        color: black;
        font-style: normal;
        font-size:16px;
        margin-bottom: 10px;
        margin-left: 70px;
        margin-top:13px ;
    }
    .jobcard p{
       /* padding-bottom: -500px;*/
        margin-top: 10px;
        font-style: italic;
        color: grey;
        margin-left: 70px;
        font-size: 13px;

        }
    .jobcard .set-1 img{
        padding-top: 15px;
        margin-left: 8px;
    }
    .jobcard h5{
        margin-left: 12px;
    }
    .jobcard h6{
        margin-left:-150px;
        font-size: 13px;
        color: gray;
    }
    .setcard .jobcard .skillneed{
        display: flex;
        flex-direction: row;
        margin-left: -55px;

    }
    .setcard .jobcard .skillneed p{
        background-color: #bbbdbf;
        padding: 2px;
        color: white;
        border-radius: 2px;
    }
    .jobcard button{
        border: none;
        color: white;
        padding: 5px;
        width: 80px;
        height: 30px;
        border-radius: 13.5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin-left: 130px;
        background-color: #04aec4;
        cursor: pointer;
    } 
    .cardtst:hover{
        box-shadow: 0px 0px 8px rgb(116, 117, 117); 
    }
    .cardtst h6{
        position: absolute;
        margin-left: 128px;
        margin-top: 10px;
    }
    .cardtst blockquote{
        margin-left: 125px;
    }

    .sec1i h1{
        position:absolute;
        font-size: 26px;
        font-family:inherit;
        color: #3d3d3d;
    }
    #sec1{
        margin-top: 150px;
        margin-left:0px;
    }
    .sec1i{
        margin-left: 60px;
    }
    .r3{
        margin-top: 200px;
    }
    #button{
        border: none;
        color: white;
        padding: 7px 20px;
        border-radius: 13.5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        background-color:#04aec2;
        cursor: pointer;
        
    }
    #button:hover,#explore:hover{
        opacity: 0.5;
    }
input{
        padding-top: 10px;
        border: none;
        outline: none;
        color: grey;
        height: 40px;
        width: 250px;
        font-size: 15px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 2px 2px 5px rgb(163, 162, 162);
        border-width: 1px;
        margin-right:20px ;
    }
    ::placeholder{
        color: grey;
        font-style: italic;
        font-size: 14px;
        padding-left: 8px;
     }
     .icon-rtl {
  padding-right: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
  background-size: 20px;
}

  .lineUp{
  animation: 2s anim-lineUp ease-in 1;
}

.r3 .r3col2 .lineUp {
  animation: 2s anim-lineUp2 ease-in 1;
}

#explore{
margin-left:1350px;
outline: none;
border: none;
        color: white;
        padding: 7px 20px;
        border-radius: 13.5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        background-color: #04aec4;
        cursor: pointer;

}


@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

